html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #02002a;
  z-index: -10;
}

#container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: absolute;
}

#constellations {
  content: '';
  display: block;
  position: absolute;
  top: -2600px;
  left: calc(-2500px + 50%);
  margin: 0;
  padding: 0;
  width: 5000px;
  height: 5000px;
  z-index: -7;
  /* Important to output svg as "Save as screen" */
  background-image: url('./assets/constellations/constellations-no-center_8b.png');
  background-repeat: no-repeat;
  background-position: center center;
  animation-name: orbit;
  animation-duration: 1000s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
}

#parallax-constellations {
  content: '';
  display: block;
  position: absolute;
  top: -2550px;
  left: calc(-2500px + 50%);
  margin: 0;
  padding: 0;
  width: 5000px;
  height: 5000px;
  z-index: -8;
  background-image: url('./assets/constellations/parallax-constellations_8b.png');
  background-repeat: no-repeat;
  background-position: center center;
  animation-name: orbit;
  animation-duration: 610s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* Slight offset makes for changing radiuses relative to center orb */
  transform-origin: 50% 49.5%;
}

#parallax-constellations-2 {
  content: '';
  display: block;
  position: absolute;
  top: -2650px;
  left: calc(-2500px + 50%);
  margin: 0;
  padding: 0;
  width: 5000px;
  height: 5000px;
  z-index: -9;
  background-image: url('./assets/constellations/parallax-constellations-2_8b.png');
  background-repeat: no-repeat;
  background-position: center center;
  animation-name: orbit;
  animation-duration: 400s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* Slight offset makes for changing radiuses relative to center orb */
  transform-origin: 50% 50.5%;
}

@keyframes orbit {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

#header {
  height: 60px;
  width: 100%;
  color: white;
  position: fixed;
  background-color: #4D4D5D;
  z-index: 1;
}

#hamburger-menu {
  float: left;
  position: relative;
  margin-left: 15px;
  margin-top: 16.5px;
}

#header h1 {
  float: left;
  position: relative;
  font-size: 36px;
  margin-left: 30px;
  margin-top: 8px;
}

#header h2 {
  float: left;
  position: relative;
  font-size: 26px;
  margin-left: 20px;
  margin-top: 17px;
}

#header a {
  color: inherit;
  text-decoration: none;
}